<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <% if (error) { %>
        <p style="color: red;">
            <%= error %>
        </p>
        <% } %>
            <form action="/login" method="post">
                <p>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="">
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="">
                </p>
                <button type="submit">Sign-in</button>
                <a href="/"><button type="button">Back</button></a>
            </form>
</body>

</html>